<h1>Edit booking</h1>

<%= simple_form_for [@vehicle, @booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user, :as => :hidden, :input_html => { :value => current_user.id }  %>
    <%= f.association :vehicle, :as => :hidden %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>

  <div class="form-actions">
    <%= f.submit "Edit this booking", :class => "btn btn-outline-secondary"%>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Go back", vehicle_path(@vehicle) %>
</div>
