<div class="container mt-3">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <strong>Bio:</strong>
  <%= @user.bio %>
  <%= image_tag @user.image %>
  <br>
  <strong>Listings:</strong><br><br>
  <% @user.vehicles.each do |vehicle| %>
    <%= link_to "#{vehicle.name}", vehicle_path(vehicle) %><br>
    <br>
  <% end %>
  <p><%= link_to "Back to vehicles", vehicles_path %></p>
</div>
