<%# <p style="color: green"><%= notice</p> %>
<div class="container mt-3 text-center">
  <h1>Super Portal</h1>
    <div class="row m-0 cards-container">
      <% @vehicles.each do |vehicle| %>
        <div class="col-4 mb-5">
          <div class="card ">
            <%= image_tag vehicle.image, class:"card-img", crop: :fill, height: 350, width: 210%>
            <div class="card-body mt-1">
              <h5 class="card-title"><strong>Name:</strong> <%= vehicle.name %></h5>
              <p><%= link_to "Show this vehicle", vehicle %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>


    <%= link_to "New vehicle", new_vehicle_path, class:"btn btn-dark"%>

</div>
