<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @vehicle.name %></h1>
      <strong>PPD:</strong>
      <%= @vehicle.price_per_day %>€
      <br>
      <strong>Description:</strong>
      <%= @vehicle.description %>
      <br>
      <div>
        <%= image_tag @vehicle.user.image, class:"avatar-large"%>
        <%= link_to "#{@vehicle.user.first_name} #{@vehicle.user.last_name}", user_path(@vehicle.user) %><br>
      </div>
      <br>
      <% if @vehicle.user_id == current_user.id %>
        <%= link_to "Edit your #{@vehicle.name}", edit_vehicle_path(@vehicle) %><br>
        <%= link_to "Delete your #{@vehicle.name}", vehicle_path(@vehicle), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@vehicle.name}?" } %>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <%= render 'bookings/form' %>
        </div>
        <div class="col-md-6">
          <%= image_tag @vehicle.image, height: 300, width: 300 %>
        </div>
      </div>
      <br>
      <%# <p><%= link_to "Back to vehicles", vehicles_path %></p>
    </div>
    <div class="col-md-4">
      <div style="width: 100%; height: 500px;"
        data-controller="map"
        data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        id="show-map">
      </div>
    </div>
  </div>
</div>
